<div>
  <button
    <%= if !@audio_player_loaded || @muted, do: "disabled" %>
    phx-click="stop-audio"
  >
    STOP!
  </button>
  <button
    <%= if !@audio_player_loaded || !@muted, do: "disabled" %>
    phx-click="start-audio"
  >
    START! 
  </button>
</div>
<section
   phx-hook="PhysicsCanvas"
   phx-update="ignore"
   id="canvas-root"
>
</section>
<audio
   muted
   autoplay
   id="audio-root"
   data-src="<%= @manifest_path %>"
   phx-hook="AudioPlayer"
>
</audio>
